<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positions</title>
</head>
<body>
    <table border="1" id="options">
        <thead><tr><th>期權</th></tr></thead>
        <tbody>
            <tr><th>合約代碼</th><th>頭寸</th><th>行駛價</th><th>成本價</th><th>打和點</th><th>最後交易日</th></tr>
            {% for i in options %}
            <tr>
                <td>{{ i["合約代碼"] }}</td>
                <td>{{ i["頭寸"] }}</td>
                <td>{{ i["行駛價"] }}</td>
                <td>{{ i["成本價"] }}</td>
                <td>{{ i["打和點"] }}</td>
                <td>{{ i["最後交易日"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>