<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positions</title>
</head>
<body>

    <!-- options table -->
<div>
    <table class="table-sortable optionsTable">
        <thead>
            <tr>
                <th>合約代碼</th>
                <th>頭寸</th>
                <th>行駛價</th>
                <th>成本價</th>
                <th>最後成交價</th>
                <th>打和點</th>
                <th>內在價值</th>
                <th>時間價值</th>
                <th>Call|Put</th>
                <th>最後交易日</th>
                <th>剩餘天數</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
        
    </table>
</div>
    <!-- load javascript -->
    <script type="text/javascript" src="static/table.js"></script>

</body>
</html>